---
layout: layouts/home.njk
eleventyNavigation:
  key: Home
  order: 1
---

1. Clone the Eleventy starter of your choice. I used https://github.com/11ty/eleventy-base-blog. Trim out anything you don't plan to use.