---js
{
navigationOptions: {
	listClass: "navbar-menu",                // Add a class to the top level
	listItemClass: "navbar-item",            // Add a class to every item
	listItemHasChildrenClass: "", // Add a class if the item has children
	activeListItemClass: "",      // Add a class to the current page’s item

	anchorClass: "",              // Add a class to the anchor
	showExcerpt: false
	}
}
---

<!doctype html>
<html lang="{{ metadata.language }}">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>{{ title or metadata.title }}</title>
		<meta name="description" content="{{ description or metadata.description }}">

		{#- Atom and JSON feeds included by default #}
		<link rel="alternate" href="/feed/feed.xml" type="application/atom+xml" title="{{ metadata.title }}">
		<link rel="alternate" href="/feed/feed.json" type="application/json" title="{{ metadata.title }}">
		
		{# Bulma #}
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">

		{%- css %}{% include "public/css/index.css" %}{% endcss %}
		<style>{% getBundle "css" %}</style>


		{# Using HTMX for easy interactivity #}
		<script src="https://unpkg.com/htmx.org@1.9.2" integrity="sha384-L6OqL9pRWyyFU3+/bjdSri+iIphTN/bvYyM37tICVyOJkWZLpP2vGn6VUEXgzg6h" crossorigin="anonymous"></script>
	</head>
	<body>

		<header>
			<a href="/" class="home-link">{{ metadata.title }}</a>

			{#- Read more about `eleventy-navigation` at https://www.11ty.dev/docs/plugins/navigation/ #}
			
			<nav class="navbar">
				<ul class="nav navbar-menu">
					{{ collections.all | eleventyNavigation | eleventyNavigationToHtml(navigationOptions) | safe }}
				</ul>
			</nav>
		</header>

		<main id="skip">
			<div class="content">
				{{ content | safe }}
			</div>
		</main>

		<footer></footer>

		<!-- Current page: {{ page.url | htmlBaseUrl }} -->
	</body>
</html>
